h1 {
    color:rgb(0, 0, 0); font-size: 44px
}
h2{
    color:rgb(0, 0, 0); font-size: 44px;
}
h3 {
    color:rgb(0, 0, 0); font-size: 44px
}
h4{
    color:rgb(0, 0, 0); font-size: 44px
}
h5 {
    color:rgb(0, 0, 0); font-size: 44px
}
h6 {
    color:rgb(0, 0, 0);font-size: 44px
}

h1#pagina1{
    color:rgb(0, 0, 0);
}